root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 4
indent_style = space
insert_final_newline = true
max_line_length = 120
tab_width = 4
trim_trailing_whitespace = true

[{*.yml,*.sh}]
indent_size = 2
tab_width = 2

[*.xml]
indent_size = unset
insert_final_newline = unset
max_line_length = unset

[*.md]
trim_trailing_whitespace = unset
indent_size = unset
max_line_length = unset

[{LICENSE,gradlew*}]
end_of_line = unset
insert_final_newline = unset
indent_size = unset
max_line_length = unset
